<!DOCTYPE html>
<html>
  <head>
    <title>Chord Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
    <%= with_icon_sprite do %>
      <div class="lg:flex lg:flex-col lg:h-screen">
        <header class="p-4 md:px-8 lg:px-12 bg-gray-800 text-white">
          <div class="2xl:container flex mx-auto items-center mx-auto">
            <h1 class="flex-grow">
              <%= link_to root_url, class: "font-semibold flex items-center" do %>
                <%= icon_tag "journal-text", class: "text-green-500 mr-3" %>
                <span class="uppercase">Chord Book</span>
              <% end %>
            </h1>

            <div>
              <%= link_to new_songsheet_path, class: "btn btn-primary btn-small" do %>
                <%= icon_tag "journal-plus", class: "small" %>
                <span class="hidden sm:inline ml-2">Add Song</span>
              <% end %>
            </div>
          </div>
        </header>
        <main class="flex-grow overflow-auto dark:bg-gray-800 dark:text-gray-200">
          <%= yield %>
        </main>
      </div>
    <% end %>
  </body>
</html>
