<!DOCTYPE html>
<html>
  <head>
    <title>Chords</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= with_icon_sprite do %>
      <div class="lg:flex lg:flex-col lg:h-screen">
        <header class="py-4 bg-gray-800 text-white">
          <div class="container flex mx-auto">
            <h1 class="flex-grow">
              <%= link_to "Song Book", root_url %>
            </h1>

            <div>
              <%= link_to "Add Song", new_songsheet_path, class: "btn btn-primary" %>
            </div>
          </div>
        </header>
        <main class="flex-grow overflow-auto">
          <%= yield %>
        </main>
      </div>
    <% end %>
  </body>
</html>
