<!DOCTYPE html>
<html>
  <head>
    <title>Chords</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex flex-col h-screen">
      <header class="p-4 bg-green-400">
        <div class="container flex mx-auto content-center">
          <h1 class="flex-grow">
            <%= link_to "Song Book", root_url %>
          </h1>

          <div>
            <%= link_to "Add Song", new_songsheet_path, class: "btn" %>
          </div>
        </div>
      </header>
      <main class="flex-grow overflow-auto">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
