<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chord Book</title>
    <meta name="description" content="Chord sheets for Guitar and Ukulele">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', 'vue', 'data-turbolinks-track': 'reload' %>
    <%= vite_stylesheet_tag 'application.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#10b981">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="bg-gray-800">
    <div data-behavior="vue" class="flex flex-col h-screen">
      <reload-pwa></reload-pwa>
      <app-header></app-header>
      <main class="bg-white flex-grow overflow-auto dark:bg-gray-800 dark:text-gray-200">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
